:root {
    --dark-color: #304D5F;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgb(33, 199, 199), 0 0 30px #ffffff, 0 0 40px rgb(33, 199, 199), 0 0 50px #ffffff, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgb(33, 199, 199), 0 0 30px rgb(33, 199, 199), 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body { 
    margin: 0;
    background-color: var(--dark-color);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
#logo {
    display: flex;
    justify-content: center;
    height: 200px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    background-color:cadetblue;
}
#logoWelcome {
    margin: auto;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

hr {
    margin: 0;
    border: 4px solid white; 
    -webkit-box-shadow: 0px 0px 4px white;
    -moz-box-shadow: 0px 0px 4px white;
    box-shadow: 0px 0px 4px white; 
    
}

button {
    height: 150px;
    width: 150px;
    margin: 20px;
    border-style: solid;
    border-color: #304D5F;
    
}
button:hover {
    border-color:cadetblue;
    background-color: cadetblue;
    border-radius: 20%;
    transition: 0.6s;
    
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(10px);
    transition: 0.2s;
}

#content {
   font-size: 22px;
   text-align: center;
   
   
}
#score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#rounds {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    row-gap: 100px;
}

#roundResultDisplay{
    word-wrap: break-word;

}

#buttons {
    display: flex;
    justify-content: space-around;
    padding: 50px;

}

#rock_btn {
    background: url(images/rock.svg);
    background-size: cover;
    
}

#scissors_btn {
    background: url(images/scissors.svg);
    background-size: cover;
    
}

#paper_btn {
    background: url(images/paper.svg);
    background-size: cover;
}

#reset_btn {
    border-style: solid;
    border-color: #304D5F;
    border-radius: 100%;
    color: black;
    font-weight: 900;
    font-size: 20px;

}

#resetBtn {
    display: flex;
    justify-content: center;
}